
    <form [formGroup]="dynamicForm">

        <!--Title-->
        <p class="title" *ngIf="formJson?.title">
          {{formJson.title}}
        </p>

        <!--Text-->
        <p class="text" *ngIf="formJson?.text">
          {{formJson.text}}
        </p>

        <div *ngFor="let control of formControlArray">

          <div *ngIf="control.shouldShow !== undefined ? control.shouldShow : true">

             <!--Everything except Checkboxes-->
            <mat-form-field *ngIf="control.type!=='checkbox'">
      
              <mat-label>{{control.label}}</mat-label>
      
              <!--Regular Input-->
              <input matInput type="{{control.inputType}}" *ngIf="control.type==='input' && !control.hasAutocomplete && !control.isDateInput" 
              formControlName="{{control.name}}" value="{{control.value}}"/>
              

              <!--Date Input-->
              <input matInput type="{{control.inputType}}" *ngIf="control.type==='input' && !control.hasAutocomplete && control.isDateInput" 
              formControlName="{{control.name}}" value="{{control.value}}" 
              [textMask]="{mask: dateMask, showMask:true, guide: false, modelClean: true}"/>

              <!--AutoComplete Input-->
              <div *ngIf="control.hasAutocomplete">
                <input matInput type="{{control.inputType}}" *ngIf="control.type==='input'" 
                (ngModelChange)="autocompleteBranch($event,control)"
                formControlName="{{control.name}}" value="{{control.value}}" [matAutocomplete]="auto"/>
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of control.autoCompleteOptions" (click)="onClickAutocomplete(option,control)">
                      {{option}}
                  </mat-option>
                </mat-autocomplete>
              </div>

              <!--Select-->
              <mat-select *ngIf="control.type.indexOf('select')!==-1" formControlName="{{control.name}}" 
              multiple="{{control.type==='multiple-select' ? true : false}}">
                <mat-option *ngFor="let option of control.selectOptions" [value]="option">
                  {{option}}
                </mat-option>
              </mat-select>
      
              <!--Text Area-->
              <textarea matInput *ngIf="control.type==='textarea'" [rows]="control.rows"  
              formControlName="{{control.name}}" value="{{control.value}}">
              </textarea>
      
            </mat-form-field>

            <!--Checkboxes-->
            <div class="checkbox-group" *ngIf="control.type==='checkbox'">

              <!--Hidden select field for Checkboxes form control-->
              <mat-form-field *ngIf="false">
                <mat-select formControlName="{{control.name}}" 
                multiple="{{control.multipleChoiceCheckbox ? true : false}}">
                <mat-option *ngFor="let option of control.checkboxOptions" [value]="option">
                  {{option}}
                </mat-option>
              </mat-select>
              </mat-form-field>

              <p>{{control.label}}</p>

              <div *ngFor="let option of control.checkboxOptions; let i = index;">
                <mat-checkbox (change)="setCheckboxValue($event,control,i)" [checked]="control.checkboxCheckedValues![i]">{{option}}</mat-checkbox>
              </div>

              <mat-checkbox *ngIf="control.hasOtherField" (change)="setCheckboxValue($event,control,control.checkboxCheckedValues!.length-1)"
              [checked]="control.checkboxCheckedValues![control.checkboxCheckedValues!.length-1]">
                {{control.otherFieldLabel ? control.otherFieldLabel : "Ostalo: "}} 
                <input formControlName="{{control.name + '-internal-other'}}" type="text"/>
              </mat-checkbox>
          
            </div>

          </div>
          
        </div>

      </form>
      
      <div class="button-wrap">
        <button mat-raised-button color="primary" (click)="submit()" 
        class="margin-top" [disabled]="!dynamicForm.valid">Submit</button>
      </div>
      <p class="margin-top">{{submittedForm}}</p>

