.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .pdf-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .sign-button {
        background-color: #0a667d;
        color: white;
        width: 200px;
        margin-bottom: 50px;
        border-radius: 25px;
    }
}