.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .switch-button {
        position: absolute;
        top: 18px;
        left: 18px;
        background-color: #ff3f60
    }

    .router {
        width: 75%;
    }
}
