<div class="calculator-wrapper">

    <div class="sliders">
        <div class="slider">
            <p>Iznos (€): </p>
            <mat-slider [min]="creditAmountLimits.min" [max]="creditAmountLimits.max" #slider1
            step="1" thumbLabel tickInterval="1" [displayWith]="formatCreditLabel"></mat-slider>
        </div>
        <div class="slider">
            <p>Period otplate (Meseci): </p>
            <mat-slider [min]="paymentPeriodLimits.min" [max]="paymentPeriodLimits.max" #slider2
            step="1" thumbLabel tickInterval="1" [displayWith]="formatPeriodLabel"></mat-slider> 
        </div>
   
    </div>

    <div class="checkbox-aik">
        <mat-checkbox [checked]="isCheckboxChecked" (change)="changeLimits()">Prenos plate u AIK banku?</mat-checkbox>
    </div>

    <div class="calculate-button" *ngIf="!calculationMade">
        <button mat-raised-button (click)="calculateCredit()">Izračunaj</button>
    </div>

    <div class="calculation-div" *ngIf="calculationMade">
        <button mat-fab class="repeat-button" (click)="repeatCalculation()" matTooltip="Ponovi računicu" matTooltipPosition="left">
            <i class="fas fa-redo fa-lg"></i>
        </button>
        <div class="content">
            Računica
        </div>
        <button mat-raised-button class="accept-button">
            Potvrdi
        </button>
    </div>
</div>