.calculator-wrapper {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .sliders {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 75%;

        .slider {
            
            display: flex;
            width: 100%;
            align-items: center;
            margin: 22px;

            p {
                width: 15%;
            }

            mat-slider {
                width: 80%;
            }
        }


    }

    .checkbox-aik {
        width: 75%;
        display: flex;
        justify-content: flex-start;
    }

    .calculate-button {

        margin-top: 40px;

        button {
            display: flex;
            justify-content: center;
            background-color: #ff3f60;
            width: 140px;
            color: #fafafa
        }
    }

    .calculation-div {
        border-radius: 6px;
        margin-top: 40px;
        border: 2px solid #ff3f60;
        width: 100%;
        height: 200px;
        position: relative;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;

        .repeat-button {
            background-color: #ff3f60;
            color: #fafafa;
            position: absolute;
            top: 2px;
            right: 2px;
        }

        .accept-button {
            display: flex;
            justify-content: center;
            background-color: #ff3f60;
            color: #fafafa;
        }
    }
}