.calculator-wrapper {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .sliders {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 75%;

        .slider {
            
            display: flex;
            width: 100%;
            align-items: center;
            margin: 22px;

            p {
                width: 15%;
            }

            mat-slider {
                width: 80%;
            }
        }


    }

    .checkbox-aik {
        width: 75%;
        display: flex;
        justify-content: flex-start;
    }

    .calculate-button {

        margin-top: 40px;

        button {
            display: flex;
            justify-content: center;
            background-color: #ff3f60;
            width: 140px;
            color: #fafafa
        }
    }

    .calculation-div {
        border-radius: 6px;
        border: 2px solid #ff3f60;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;

        .repeat-button {
            background-color: #ff3f60;
            color: #fafafa;
            position: absolute;
            top: 2px;
            right: 2px;
        }

        .accept-button {
            display: flex;
            justify-content: center;
            background-color: #ff3f60;
            color: #fafafa;
        }

        .content {
            width: 60%;
            
            .title {
                font-size: 18px;
                font-weight: bold;
                color: #636569;
                margin-top: 5px;
                text-align: center;
            }

            hr {
                border: 1px solid #ff3f60;
            }

            .offer-data {

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                p {
                    color: #636569;
                }
            }
        }
    }
}