.wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .title {
        font-weight: bold;
        font-size: x-large;
    }
    
    .buttons-wrap {
        display: flex;

        button {
            margin-right: 4px;
            color: white;
        }

        .confirm-button {
            background-color: #75A053;
        }

        .cancel-button {
            background-color: #ff3f60;
        }

        .download-button {
            background-color: #5f75f4;
        }

    }
}