.wrap {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .title {
        font-size: x-large;
        text-align: center;
        font-weight: bold;
    }

    .content {
        overflow-y: auto;
        overflow-x: hidden;
    }

    .buttons-wrapper {
        display: flex;
        justify-content: center;
    
        .confirm-button {
            color: white;
            background-color: #75A053;
            margin-right: 4px;
        }
    
        .cancel-button {
            color: white;
            background-color: #ff3f60
        }
    }
}