.pdf-card {
    margin: 8px;
    padding: 32px;
    display: flex;
    flex: 33%;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0;


    .left-side {

        display: flex;
        justify-content: space-evenly;

        .pdf-logo {
            width: 30%;
            margin-bottom: 11px;
        }

        .paragraph-wrap {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            .paragraph-div {
                display: flex;
    
                .paragraph-1 {
                    font-size: medium;
                    margin-left: 8px;
                    margin-right: 4px;
                }
        
                .paragraph-2 {
                    font-size: medium;
                    font-weight: bold;
                }    
    
            }

        }

    }

    .right-side {
        display: flex;
        margin-top: 20px;
        justify-content: space-evenly;

        .action-button {
            margin: 2px;
            background-color: #0a667d;

            i {
                color: white;
            }
        }

        .action-button-2 {
            margin: 2px;
            background-color: white;

            i {
                color: #0a667d;
            }
        }
    }


}