/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-credit-calculator {

    .mat-slider-track-fill, .mat-slider-thumb-label, .mat-slider-thumb {
        background-color: #ff3f60 !important;
    }

    .mat-slider-thumb-label {
        transform: rotate(45deg) !important;
        border-radius: 50% 50% 0 !important;
    }
    
    .mat-slider-thumb {
        transform: scale(0) !important;
    }
    
    .mat-slider-thumb-label-text {
        opacity: 1 !important;
    }

    .mat-checkbox-checked {
        .mat-checkbox-background {
            background-color: #ff3f60 !important;
        }
    }

}